body {
    overflow-x: hidden;

}
.bg-purple {
     background: #3f3d56;
}

.hero-text {
    font-size: 2rem;
}

.section-title {
    font-size: 3rem;
    line-height: 150px;
}

.text-section {
    padding:10%;
    font-size: 1.5rem;
}

.event-adress iframe {
    width: 100%;
}

.img-hero {
    max-height: 300px;
}
