.hero {
    margin-top: 2%;
    max-height: 500px;
}

.hero-text {
    font-size: 2rem;
}

.section-title {
    font-size: 3rem;
    line-height: 150px;
}

.text-section {
    padding:10%;
    font-size: 1.5rem;
}


