body.blue {
    background-color: #2a3e79;
}

body.background-image {
    background: #343a40 url('../images/bg-login-opaco.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-image-solid {
    /*  background-image: url('../images/bg_lightBlue.jpg'); */
    background-color: #f2f2f2;
    background-size: 100%;
    background-repeat: repeat;
}

.background-bluue {
    background-color: #1bb1dc;
}

.circle {
    height: 200px;
    width: 200px;
    margin-bottom: 10%;
    border-radius: 100%;
}

.circle-event-logo {
    height: 300px;
    width: 300px;
    margin-bottom: 10%;
    border-radius: 100%;
}

.div-green {
    background-color: #546a75;
}

.div-orange {
    background-color: orange;
}

.height-100 {
    height: 100%;
}

.div-darkblue {
    background-color: #546a75;
}

.bg-logo {
    background-image: url('../images/logo_sge.png');
}

.material-icons {
    font-size: 14em;
}

.font-white {
    color: white;
}

input[type="file"] {
    display: none;
}

.border-white {
    border-style: solid;
    border-width: 5px;
    border-radius: 100%;
    border-color: white;
}

.text-blue-light {
    color: #bbd2e7;
}

.btn-outline-dark {
    color: white;
    background-color: #153342;
    background-image: none;
    border-color: gray
}

.btn-outline-dark:hover {
    color: #153342;
    background-color: transparent;
    border-color: #153342
}

.rodape-cor {
    background-color: rgb(255, 255, 255);
}

hr {
    background-color: white;
}

.list_image {
    min-height: 220px;
    max-height: 220px;
    min-width: 100%;
    padding: 0%;
}

.logo-branco-nav {
    transition: all 0.4s ease;
}

.logo-branco-nav:hover {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(-0.7);
    transform: scale(0.7);
    transition: all 0.2s ease;
}

.button {
    max-height: 100px;
    max-width: 314px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.add {
    transition: all 0.4s ease;
}

.add:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.4s ease;
    background-color: #102f3f;
}

.icon {
    height: 100px;
    width: 100px;
}

#list_hr {
    background-color: light-gray;
}

.list_svg {
    height: 45%;
}

.links {
    color: gray;
    transition: all 0.4s ease;
    text-decoration: none;
}

.links:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.4s ease;
    text-decoration: none;
}

#intro .intro-info h1 {
    color: #102f3f;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}

#intro .intro-info h1 span {
    color: #1bb1dc;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
}

#intro .intro-info .btn-get-started:hover,
#intro .intro-info .btn-services:hover {
    background: #0a98c0;
}


/* #intro
body.blue {
    background-color: #094877;
}

.background-image {
    background-image: url('../images/bg_triangle.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.background-image-solid {
<<<<<<< HEAD
    /*  background-image: url('../images/bg_lightBlue.jpg'); */

.background-blue {
    background-color: #1bb1dc;
}

.circle {
    height: 200px;
    width: 200px;
    margin-bottom: 10%;
    border-radius: 100%;
    border-color: #1bb1dc;
}

.div-green {
    background-color: #546a75;
}

.div-orange {
    background-color: orange;
}

.height-100 {
    height: 100%;
}

.div-darkblue {
    background-color: #546a75;
}

.bg-logo {
    background-image: url('../images/logo_sge.png');
}

.form-box {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(52, 58, 64, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(52, 58, 64, 1);
    box-shadow: 0px 0px 30px 0px rgba(52, 58, 64, 1);
}

.material-icons {
    font-size: 14em;
}

.font-white {
    color: white;
}

input[type="file"] {
    display: none;
}

.text-nav {
    font-weight: bold;
    color: white;
    transition: all 0.4s ease;
}

.text-nav:hover {
    font-weight: bold;
    color: #1bb1dc;
    border-bottom-style: solid;
    border-color: #fff;
    transition: all 0.2s ease;
}

.text-nav .border-white {
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.text-blue-light {
    color: #bbd2e7;
    transition: all 0.2s ease;
}

.text-blue {
    color: white;
    border-bottom-style: solid;
    border-color: #1bb1dc;
    transition: all 0.2s ease;
}

.text-blue:hover {
    color: #0a98c0;
    border-bottom-style: solid;
    border-color: #fff;
    transition: all 0.2s ease;
}

.btn-outline-dark {
    color: white;
    background-color: #153342;
    background-image: none;
    border-color: gray
}

.btn-outline-dark:hover {
    color: #153342;
    background-color: transparent;
    border-color: #153342;
    transition: all 0.2s ease;
}

.rodape-cor {
    background-color: rgb(255, 255, 255);
}

hr {
    background-color: white;
}

.list_image {
    min-height: 220px;
    max-height: 220px;
    min-width: 100%;
}

.button {
    max-height: 100px;
    max-width: 314px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.add {
    transition: all 0.4s ease;
}

.add:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.4s ease;
    background-color: #1bb1dc;
}

.icon {
    height: 100px;
    width: 100px;
}

#list_hr {
    background-color: light-gray;
}

.list_svg {
    height: 45%;
}

.links {
    color: gray;
    transition: all 0.4s ease;
    text-decoration: none;
}

.links:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.4s ease;
    text-decoration: none;
}

#intro .intro-info h1 {
    color: white;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}

#intro .intro-info h1 span {
    color: #1bb1dc;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
}

#intro .intro-info .btn-get-started:hover,
#intro .intro-info .btn-services:hover {
    background: #0a98c0;
}

#intro {
    height: auto;
    padding: 80px 0 60px 0;
}

#intro .container {
    height: auto !important;
}

*/ #intro .intro-info {
    text-align: center;
    padding-top: 40px;
}

#intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
}

#services {
    padding: 60px 0 40px 0;
}

#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#services-evento .box {
    padding: 2%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    text-align: center;
}

#services-evento a {
    text-decoration: none;
}

#servu #services .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon i {
    font-size: 36px;
    line-height: 1;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #1bb1dc;
}

#services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}

.svg-classe {
    max-width: 250px;
    min-height: 250px;
}

.invert-elements {
    filter: invert(100%);
}

.creditos {
    color: lightgray;
    opacity: 0.3;
    font-size: 0.5vh;
}

.bounceInUp {
    transition: 0.5s;
}

.bounceInUp:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #1bb1dc;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    background-image: url('../images/logo_png_branco.png');
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.float:hover {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    transition: 0.2s;
    background-image: url('../images/icon.svg');
    border-radius: 50px;
    text-align: center;
}


/* wave welcome */

.a {
    fill: none;
}

.b {
    clip-path: url(#a);
}

.c,
.d {
    fill: #f5f8fd;
}

.d {
    opacity: 0.5;
    isolation: isolate;
}

.wave {
    background-color: #f5f8fd;
    height: 8em;
}


/* fim wave welcome */


/* wave show events */

.x {
    fill: none;
}

.y {
    clip-path: url(#x);
}

.w,
.z {
    fill: #f2f2f2;
}

.z {
    opacity: 0.5;
    isolation: isolate;
}

.wave-evento {
    background-color: #1bb1dc;
    height: 4em;
}


/* fim wave show events */

.effect .mask {
    opacity: 0;
    overflow: visible;
    border: 100px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

.effect a.info {
    position: relative;
    top: -10px;
    /* Center the link */
    opacity: 0;
    transition: opacity 0.5s 0s ease-in-out;
}

.effect:hover .mask {
    opacity: 1;
    border: 100px solid rgba(0, 0, 0, 0.7);
}

.effect:hover a.info {
    opacity: 1;
    transition-delay: 0.3s;
}

#intro .intro-info {
    text-align: center;
    padding-top: 40px;
}

#intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
}

#services {
    padding: 60px 0 40px 0;
}

#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#services-evento .box {
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    text-align: center;
}

#services-evento a {
    text-decoration: none;
}

#servu #services .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon i {
    font-size: 36px;
    line-height: 1;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #1bb1dc;
}

#services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}

.svg-classe {
    max-width: 250px;
    min-height: 250px;
}

.invert-elements {
    filter: invert(100%);
}

.creditos {
    color: lightgray;
    opacity: 0.3;
    font-size: 0.5vh;
}

.bounceInUp {
    transition: 0.5s;
}

.bounceInUp:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

HEAD .sidebar {
    height: 94vh;
}

.icon-text {
    font-size: 5rem;
    width: 100%;
    text-align: center;
}

.sidebar-heading {
    width: 100%;
    text-align: center;
    font-weight: 5rem;
}

.log_bg {
    background-color: #094877;
}

.label-upload-image {
    background-color: #efefef;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.icon-card-text {
    font-size: 2rem;
}

#sidebar-wrapper {
    min-height: 95vh;
}

.carousel-item {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.carousel-galery {
    width: 600px;
    position: relative;
}


/* Timeline */

.timeline,
.timeline-horizontal {
    list-style: none;
    padding: 20px;
    position: relative;
}

.timeline:before {
    top: 40px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}

.timeline .timeline-item {
    margin-bottom: 20px;
    position: relative;
}

.timeline .timeline-item:before,
.timeline .timeline-item:after {
    content: "";
    display: table;
}

.timeline .timeline-item:after {
    clear: both;
}

.timeline .timeline-item .timeline-badge {
    color: #fff;
    width: 54px;
    height: 54px;
    line-height: 52px;
    font-size: 22px;
    text-align: center;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -25px;
    background-color: #7c7c7c;
    border: 3px solid #ffffff;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline .timeline-item .timeline-badge i,
.timeline .timeline-item .timeline-badge .fa,
.timeline .timeline-item .timeline-badge .glyphicon {
    top: 2px;
    left: 0px;
}

.timeline .timeline-item .timeline-badge.primary {
    background-color: #1f9eba;
}

.timeline .timeline-item .timeline-badge.info {
    background-color: #5bc0de;
}

.timeline .timeline-item .timeline-badge.success {
    background-color: #59ba1f;
}

.timeline .timeline-item .timeline-badge.warning {
    background-color: #d1bd10;
}

.timeline .timeline-item .timeline-badge.danger {
    background-color: #ba1f1f;
}

.timeline .timeline-item .timeline-panel {
    position: relative;
    width: 46%;
    float: left;
    right: 16px;
    border: 1px solid #c0c0c0;
    background: #ffffff;
    border-radius: 2px;
    padding: 20px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline .timeline-item .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -16px;
    display: inline-block;
    border-top: 16px solid transparent;
    border-left: 16px solid #c0c0c0;
    border-right: 0 solid #c0c0c0;
    border-bottom: 16px solid transparent;
    content: " ";
}

.timeline .timeline-item .timeline-panel .timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-item .timeline-panel .timeline-body>p,
.timeline .timeline-item .timeline-panel .timeline-body>ul {
    margin-bottom: 0;
}

.timeline .timeline-item .timeline-panel .timeline-body>p+p {
    margin-top: 5px;
}

.timeline .timeline-item:last-child:nth-child(even) {
    float: right;
}

.timeline .timeline-item:nth-child(even) .timeline-panel {
    float: right;
    left: 16px;
}

.timeline .timeline-item:nth-child(even) .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-horizontal {
    list-style: none;
    position: relative;
    padding: 20px 0px 20px 0px;
    display: inline-block;
}

.timeline-horizontal:before {
    height: 3px;
    top: auto;
    bottom: 26px;
    left: 56px;
    right: 0;
    width: 100%;
    margin-bottom: 20px;
}

.timeline-horizontal .timeline-item {
    display: table-cell;
    height: 280px;
    width: 20%;
    min-width: 320px;
    float: none !important;
    padding-left: 0px;
    padding-right: 20px;
    margin: 0 auto;
    vertical-align: bottom;
}

.timeline-horizontal .timeline-item .timeline-panel {
    top: auto;
    bottom: 64px;
    display: inline-block;
    float: none !important;
    left: 0 !important;
    right: 0 !important;
    width: 100%;
    margin-bottom: 20px;
}

.timeline-horizontal .timeline-item .timeline-panel:before {
    top: auto;
    bottom: -16px;
    left: 28px !important;
    right: auto;
    border-right: 16px solid transparent !important;
    border-top: 16px solid #c0c0c0 !important;
    border-bottom: 0 solid #c0c0c0 !important;
    border-left: 16px solid transparent !important;
}

.timeline-horizontal .timeline-item:before,
.timeline-horizontal .timeline-item:after {
    display: none;
}

.timeline-horizontal .timeline-item .timeline-badge {
    top: auto;
    bottom: 0px;
    left: 43px;
}

=======
/*  background-image: url('../images/bg_lightBlue.jpg'); } */

.background-blue {
    background-color: #1bb1dc;
}

.circle {
    height: 200px;
    width: 200px;
    margin-bottom: 10%;
    border-radius: 100%;
    border-color: #1bb1dc;
}

.div-green {
    background-color: #546a75;
}

.div-orange {
    background-color: orange;
}

.height-100 {
    height: 100%;
}

.div-darkblue {
    background-color: #546a75;
}

.bg-logo {
    background-image: url('../images/logo_sge.png');
}

.material-icons {
    font-size: 14em;
}

.font-white {
    color: white;
}

input[type="file"] {
    display: none;
}

.text-nav {
    font-weight: bold;
    color: white;
    transition: all 0.4s ease;
}

.text-nav:hover {
    font-weight: bold;
    color: #1bb1dc;
    border-bottom-style: solid;
    border-color: #fff;
    transition: all 0.2s ease;
}

.text-nav .border-white {
    border-style: solid;
    border-width: 5px;
    border-color: white;
}

.text-blue-light {
    color: #bbd2e7;
    transition: all 0.2s ease;
}

.text-blue {
    color: white;
    border-bottom-style: solid;
    border-color: #1bb1dc;
    transition: all 0.2s ease;
}

.text-blue:hover {
    color: #0a98c0;
    border-bottom-style: solid;
    border-color: #fff;
    transition: all 0.2s ease;
}

.btn-outline-dark {
    color: white;
    background-color: #153342;
    background-image: none;
    border-color: gray
}

.btn-outline-dark:hover {
    color: #153342;
    background-color: transparent;
    border-color: #153342;
    transition: all 0.2s ease;
}

.rodape-cor {
    background-color: rgb(255, 255, 255);
}

hr {
    background-color: white;
}

.list_image {
    min-height: 220px;
    max-height: 220px;
    min-width: 100%;
}

.button {
    max-height: 100px;
    max-width: 314px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.add {
    transition: all 0.4s ease;
}

.add:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.4s ease;
    background-color: #1bb1dc;
}

.icon {
    height: 100px;
    width: 100px;
}

#list_hr {
    background-color: light-gray;
}

.list_svg {
    height: 45%;
}

.links {
    color: gray;
    transition: all 0.4s ease;
    text-decoration: none;
}

.links:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.4s ease;
    text-decoration: none;
}

#intro .intro-info h1 {
    color: white;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}

#intro .intro-info h1 span {
    color: #1bb1dc;
}

#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #1bb1dc;
    color: #fff;
}

#intro .intro-info .btn-get-started:hover,
#intro .intro-info .btn-services:hover {
    background: #0a98c0;
}

#intro {
    height: auto;
    padding: 80px 0 60px 0;
}

#intro .container {
    height: auto !important;
}

*/ #intro .intro-info {
    text-align: center;
    padding-top: 40px;
}

#intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
}

#services {
    padding: 60px 0 40px 0;
}

#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#services-form .box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 5px rgba(68, 88, 144, 0.1);
    text-align: left;
}

#services-evento .box {
    padding: 2%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    text-align: center;
}

#services-evento a {
    text-decoration: none;
}

#servu #services .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon i {
    font-size: 36px;
    line-height: 1;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #1bb1dc;
}

#services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}

.svg-classe {
    max-width: 250px;
    min-height: 250px;
}

.invert-elements {
    filter: invert(100%);
}

.creditos {
    color: lightgray;
    opacity: 0.3;
    font-size: 0.5vh;
}

.bounceInUp {
    transition: 0.5s;
}

.bounceInUp:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #1bb1dc;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    background-image: url('../images/logo_png_branco.png');
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.5s;
}

.float:hover {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    transition: 0.2s;
    background-image: url('../images/icon.svg');
    border-radius: 50px;
    text-align: center;
}


/* wave welcome */

.a {
    fill: none;
}

.b {
    clip-path: url(#a);
}

.c,
.d {
    fill: #f5f8fd;
}

.d {
    opacity: 0.5;
    isolation: isolate;
}

.wave {
    background-color: #f5f8fd;
    height: 8em;
}


/* fim wave welcome */


/* wave show events */

.x {
    fill: none;
}

.y {
    clip-path: url(#x);
}

.w,
.z {
    fill: #f2f2f2;
}

.z {
    opacity: 0.5;
    isolation: isolate;
}

.wave-evento {
    background-color: #1bb1dc;
    height: 4em;
}


/* fim wave show events */

.effect .mask {
    opacity: 0;
    overflow: visible;
    border: 100px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

.effect a.info {
    position: relative;
    top: -10px;
    /* Center the link */
    opacity: 0;
    transition: opacity 0.5s 0s ease-in-out;
}

.effect:hover .mask {
    opacity: 1;
    border: 100px solid rgba(0, 0, 0, 0.7);
}

.effect:hover a.info {
    opacity: 1;
    transition-delay: 0.3s;
}

#intro .intro-info {
    text-align: center;
    padding-top: 40px;
}

#intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
}

#services {
    padding: 60px 0 40px 0;
}

#services .box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    text-align: center;
}

#services-evento .box {
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    text-align: center;
}

#services-evento a {
    text-decoration: none;
}

#servu #services .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#services .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

#services .icon i {
    font-size: 36px;
    line-height: 1;
}

#services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

#services .title a {
    color: #111;
}

#services .box:hover .title a {
    color: #1bb1dc;
}

#services .description {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: left;
}

.svg-classe {
    max-width: 250px;
    min-height: 250px;
}

.invert-elements {
    filter: invert(100%);
}

.creditos {
    color: lightgray;
    opacity: 0.3;
    font-size: 0.5vh;
}

.bounceInUp {
    transition: 0.5s;
}

.bounceInUp:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s;
}

HEAD .sidebar {
    height: 94vh;
}

.icon-text {
    font-size: 5rem;
    width: 100%;
    text-align: center;
}

.sidebar-heading {
    width: 100%;
    text-align: center;
    font-weight: 5rem;
}

.log_bg {
    background-color: #094877;
}

.label-upload-image {
    background-color: #efefef;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.icon-card-text {
    font-size: 2rem;
}

#sidebar-wrapper {
    min-height: 95vh;
}

.carousel-item {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.carousel-galery {
    width: 600px;
    position: relative;
}

.rodape-footer {
    background-color: black;
}

.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
}

.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {
    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.div-black {
    background-color: #333333;
}

figcaption {
    color: gray;
}

figcaption:hover {
    color: black;
}

@media (min-width: 771px) {
    .list_svg {
        height: 35%;
    }
}